.footer {
    margin: 0 auto 24px;
    display: flex;
    flex-direction: column;
    color: #F5F5F5;
    font-weight: 900;
    line-height: 18px;
}

.footer__name {
    font-size: 15px;
}

.footer__year {
    margin: 0 auto;
    font-size: 14px;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 544px) {
    .footer__name {
        font-size: 14px;
        line-height: 16px;
    }
    .footer__year {
        font-size: 13px;
        line-height: 16px;
    }
}