.header {
    margin-top: 34px;
    margin-bottom: 92px;
    display: flex;
    flex-direction: column;
}

.header__logo {
    margin: 0 auto 90px;
}

.header__title {
    max-width: 794px;
    margin: 0 auto 32px;
    color: #F5F5F5;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}

.header__subtitle {
    max-width: 720px;
    margin: 0 auto 64px;
    color: #F5F5F5;
    font-size: 30px;
    line-height: 36px;
    text-align: center;

}

.header__image {
    margin: 0 auto;
    filter: grayscale(100%);
}